.cards-swift {
  position: relative;
  display: inline-flex;
  perspective: 1500px;
  width: 100%;
  height: 100%;
  &-container {
    width: 100%;
  }
  &--item {
    position: absolute;
    height: 100%;
    width: 90%;
    left: 5%;
    z-index: 1;
    display: inline-table;
    transition: all .5s;
    opacity: 1;
  }
}
